h1 {
  text-align: center;
  color: white;
}

.search {
  margin: auto;
  text-align: center;
  margin-top: 40%;
  margin-left: 44%;
  position: absolute;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  flex-direction: column;
  
}

img {
   height: 100%;
   width: 100%;
   border: solid 5px;
   border-color: white;
   margin-top: 15px;
}

p {
  position: absolute;
  color: yellow;
  display: flex;
  justify-content: center;
  margin: 4%;
}

.container-img {
  display: inline-block;
  position: relative;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  max-width: 600px;
  max-height: 600px;
  margin-left: 35%;
 
}
